dt {
margin-top: 0px;
}

body{
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #6B6B6B
}

h2{
border-top: 0;
margin: 0 0 8px;
text-transform: capitalize;
}

table.gridless tr td {
vertical-align: top;
}

td{
vertical-align: top;
}

.portletNavigationTree a img { display: none;}


.portlets-manager h4 {
font-weight: bold;
color: black;
font-size: 93%;
text-transform: none;
line-height:1.91em;
}

.portlets-manager .managedPortlet .portletHeader {
background: #eee;
border: 1px solid #56A0D3;
text-shadow: none;
margin:0 0 8px;
color: black;
}

.portlets-manager .managedPortlet .portletHeader a {
color: Black;
text-decoration: underline;
font-size: 90%;
font-weight: normal;

}

.portlets-manager .inheritedPortlet .portletHeader {
background-color: transparent;
}

.portlets-manager .section {padding-top: 1em;}

.portlets-manager .section form div{
margin: 5px 0px;
color: black;
}

.managedPortletActions {
display:block;
float:right;
}

.managedPortletActions a.delete {
color:red !important;
}

.portlets-manager .managedPortlet .portletHeader .managedPortletActions a {
text-decoration:none;
}

.portletHeader{
background:#56A0D3 url(h2_bg_repeat.gif) repeat-x scroll left bottom;
color:#FFFFFF;
font-size: 12px;
font-weight:bold;
line-height:1.4em;
margin:0 0 8px;
padding:6px 8px;
position:relative;
text-shadow:#2E6B96 1px 1px 1px;
text-transform:capitalize;
}

.portletHeader a{
color: White;
}

.portletCalendar .portletHeader {
margin: 0 0 0px;
}
background: transparent url(https://www.unc.edu/ccm/groups/public/@unc/documents/content/ccm1_032053.jpg) no-repeat 0px 0px;
.portletSearch input, .portletSearch select, .portletSearch textarea{
	width: 66%;
	}

.portletSearch .searchButton {
     width: 30%;
}
.portlet li {
border-bottom:1px solid #D8D8D8;

line-height:1.4em;
}

.portlet li a{
	display: block;
padding: 10px 8px;
}

.portlet li a:hover{
background-color:#56A0D3;
color:#FFFFFF;
}

.portletItem {
	padding: 0em;
	margin: 0;
	clear: both;
}
.portletNavigationTree .portletItem{
padding: 0;
}



.navTreeItem a:hover{
background-color:#56A0D3;
color:#FFFFFF;
}

.portletCalendar table {
	margin-top: -1px;
	border-top: none;
	}
.portletCalendar table th, .portletCalendar table td{
padding: 3px 5px;
border: none;
text-align:center;
}

#right-col .portletCalendar table th, #right-col .portletCalendar table td{
padding: 3px;
}

.portletCalendar table td.event {
background-color: #DDD;
}

.portletCalendar table td.event a{
color: #333;
}

.portletCalendar table td.todaynoevent{
background-color: #4287B6;
color: #FFF;
}



.portletCalendar .hiddenStructure {
font-size: 0;
}

.portletCalendar .weekdays {
background: #4287B6;
color: White;
}
#loginform {
	
	padding: 0;
}




#primary_nav ul li a{
        text-shadow: #2E6B96 1px 1px 1px;
        font-weight: bold;
}


#header {
	height: 100px;
        background-image: url('');
	}

#header #unc-logo{
        position: absolute;
	bottom: 5px;
        right: 0px;
	}

#header #site-logo{
	position: absolute;
	bottom:0px;
	left: 0;
	}

#breadcrumbs input.searchButton{
	width: 4.5em;
	padding: 3px;
	}


#searchbox .inputLabel, #searchGadget {
	width: 150px;
	padding:4px;
	margin: 0 8px 0 0;
	line-height: 1em;
	color: #999999;
	}

.searchSection, #LSResult{
	display: none;
	}
	


.documentDescription {
	font-weight: bold;
	}
.eventDetails{
	clear:right;
        float:right;
        margin:0 0 0.5em 0;
        font-size: 79%;
	position:relative;
	z-index: 3;
	padding-left: 1em;
	background-color: white;
	
	}


.formHelp{
font-size: 79%;
}

.field input {
margin: 0 0 5px 0;
}
.portletLogin .field input {
width: 96%;
}

.fieldRequired {
background:transparent url(required.gif) no-repeat scroll left center;
color:White;
padding:0 0 0 8px;
}



div.error {
background-color:#FFDDCC;
border:1px solid #DD0000;
margin:0 0 1em;
padding:0.5em;
width:95%;
}


div#container input, div#container select, div#container textarea{
border-color:#C4C4C4 #AEAEAE #AEAEAE #C4C4C4;
border-style:solid;
border-width:1px;
color:#666666;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:85%;
line-height:1.82em;
padding:2px;

} 

div#container .formControls input  {
font-size: 95%;
padding: 0px 5px;
}


input[type="button"], input[type="submit"]{
background: #DDD url(btn_background.gif) repeat-x;
cursor: pointer;
}


.state-private {
color:Red !important;
}

#content-well {
padding: 0;
}


#content-well div.documentActions {
float:right;
}

#content-well div.documentActions ul {
text-align:right;
display:block;
margin:0;
padding:0 0em;
}

#content-well div.documentActions ul li {
background: white none repeat scroll 0 0;
display:inline;
padding:0px;
margin:0;
}

#content-well div.documentActions ul li a{
background: #DDD url(btn_background.gif) repeat-x;
border-bottom: 1px solid #AEAEAE;
border-left: 1px solid #C4C4C4;
border-right: 1px solid #AEAEAE;
border-top: 1px solid #C4C4C4;
color: #666;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 85%;
line-height: 1.82em;
padding: 3px 5px;
text-decoration: none;
}


/*
.tileImage{float:right;
margin: 5px 0px 1em 1em;
}

.tileItem{
	clear: both;
	padding-bottom:10px;
	}


.tileImage {
border:1px solid #999999;
float:left;
margin:1.6em 1em 0.5em 0;
}

.tileHeadline{
	background: none;
	border: none;	
	}
	
.tileHeadline a{
	color: Black;
	}


.tileItem{
	border: 1px solid #6B6B6B;
	padding: 1em;
	margin-top: 1em;
	}


*/


/* The table used for listings - horizontal and vertical variants */

.stx table {
    /* The default table for document listings. Contains name, document types, modification times etc in a file-browser-like fashion */
    font-size: 0.85em;

}

table.gridless{
border: none;
}

table.gridless th{
    border: none;
    border-top: none;
    font-weight: normal;
    padding: 0.25em 0.5em;
    text-transform: none;
    color: #666666;
    text-align: left;

}


table.gridless tr td {
background-color: white;
border-top: none;
}


table.grid{
border: none;
}

table.grid th{
    border: 1px solid black;
    font-weight: normal;
    padding: 0.25em 0.5em;
    text-transform: none;
    color: #666666;
    text-align: left;

}


table.grid tr td {
background-color: white;
border-top: none;
}



/* Vertical addition class */
table.vertical th {
    padding: 0.5em;
}
table.vertical td {
    border-top: 1px solid #BBB;
    padding: 0.5em;
}







code, pre {
	line-height: .8em;
	}




.portletNavigationTree .portletHeader {
	margin:0;
	}

.navTree {
    padding: 0;
    margin: 0 0 20px 0
    }
.navTree ul {
    margin: 0 0 8px 0
    }

.portletItem ul li ul li {
    display: inline
    }
.navTree h2 {
    margin: 0
    }
.navTree ul li ul {
    margin-left: 20px;
    padding-left: 4pt;
    list-style-type: none
    }
/* Left Column Navigation - Second Level*/
.portletItem ul li ul li {
    font-weight: normal;
    border-bottom: none
    }
.navTreeItem ul li  a {
    background: transparent url(img_unc_menu_bg-arrow.gif) no-repeat 0 0.4em;
    padding: 0 0 2px 8px;
    display: block;
    margin-left: 30px;
    }
.navTreeItem ul li a:hover {
    background: transparent url(img_unc_menu_bg-arrow.gif) no-repeat 0 0.4em;
    text-decoration: underline;
    color: #5C8CBB
    }
.navTree ul li ul {
    margin-left: 4pt;
    padding-left: 4pt;
    list-style-type: none
    }
    
    
    
    
    
    
    
    
    
    
.portletEvents a.calendar_graphic {
    float: left;
    width: 46px;
    height: 49px;
    margin: 3px 0;
    display: block;
    position: relative;
    text-align: center;
    background: url(icon_calendar.png) no-repeat left top
    }
.portletEvents a.calendar_graphic:hover {
    text-decoration: none;
    background: url(icon_calendar.png) no-repeat left top
    }
.portletEvents a.calendar_graphic span {

    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    left: 0;
    width: 100%;
    display: block;

    }
.portletEvents .calendar_month{
font-size: 1.05em;
}

.portletEvents a.calendar_graphic span{    
display:block;
font-family:Arial,Helvetica,sans-serif;
font-variant:small-caps;
left:0;
position:absolute;
width:100%;
}


.portletEvents .portletItem .tile:hover {
    text-decoration: underline;
    color: #56a0d3;
	}    
    
.portletEvents .portletItem .tile{
line-height:1.35em;
margin:0 0 0 51px;
padding:0;
min-height: 49px;
	display:block;
	color: #6B6B6B;

margin:10px 0 10px 49px;

	}    
    
#calendar th, #calendar td{
	line-height:1em;
	padding: 0em;
}

.calendar_day {
	font-size: 160%
	}    
.calendar_month {
	font-size: .99em;
	
	}
.portletEvents .portletItem {
	border-bottom: 1px solid #D8D8D8;
	}
 
.portletEvents .portletFooter, .portletCollection .portletFooter, .portletRss .portletFooter{

        border-bottom: 1px solid #D8D8D8;

	}
	
 .portletCollection .portletFooter, .portletRss .portletFooter{
padding-left: 8px;
}
.portletCalendar .portletHeader{
	text-align: center;
}

#calendar-previous{
float:left;
}
#calendar-next{
float:right;
}
.portletNews .portletItem, .portletRss .portletItem, .portletRecent .portletItem, .portletCollection .portletItem{
border-bottom:1px solid #D8D8D8;
padding: 10px 8px;
}

.portletNews .portletItemDetails, .portletRss .portletItemDetails, .portletRecent .portletItemDetails, .portletCollection .portletItemDetails{
	text-align:right;
	color: #56A0D3;
	display: block;
	}
	
.portletNews .portletItem a, .portletRss .portletItem a, .portletRecent .portletItem a, .portletCollection .portletItem a{
   	display: block;
    color: #6B6B6B;
	}
	
.portletNews .portletItem a:hover, .portletRss .portletItem a:hover, .portletRecent .portletItem a:hover ,.portletCollection .portletItem a:hover {
	color: #56a0d3;
	text-decoration: underline;
}


.portletCollection .portletItem a{
color: #666;
}

.portletCollection .portletItem a:hover {
text-decoration: underline;
color: #56A0D3;
}

.portletItem{
font-size: 85%;
}


.portletFooter{
	margin-left: 0px;
	padding: 5px 0 5px 0;
	}
	
.portletEvents .portletTime {
	color: #56A0D3;
	font-weight: bold;
	}

.portletNews .portletItemDetails
.kupu-dialog-button {
	color: Black;
	}
	
.portlet-static-quicklinks .portletHeader{
	margin: 0;
	}

.portletEvents .portletTopRight a{
	width: 14px;
	height: 14px;
	background: transparent url(feed-icon-14x14.gif) no-repeat scroll 0 50%;
	display: block;
	padding: 2px 0 0;
	text-decoration: none;
	float:right;
	}
	
.portletStaticText .portletHeader{
margin: 0;
}

.portletStaticText .portletItem p{
padding: 0px 0px;
}

label {
	text-align: left;
	display:inline;
	}

	.error .fieldRequired {
	color: #DD0000;
	}
	

.formControls{
	
	margin-top: 5px;
	}

	
.searchButton {
	width: auto;
	}
	
#content-well .plone_jscalendar select {
	width: auto;
	}
.calendar table th,.calendar table td{

padding: .2em;
}

#personaltools ul {
background-color:transparent;
border:0 none;
line-height:1.6em;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
text-align:right;
text-transform:none;
}

#personaltools ul li {
display: inline;
padding: 0 5px;
}

#personaltools ul li a {
color: #aaaaaa;
font-size: .9em;
}


#content-well .formTab{
background:none;;
margin:0;
padding-left:0px;
}

.managePortletsLink {
text-align: center;
}

.portlets-manager input, .portlets-manager select, .portlets-manager textarea {
width: 96%;
}



table.ploneCalendar tr td {
background-color:#FFFFFF;
}

#searchform div{
background-color:#EFEFEF;
border:1px solid #DDDDDD;
margin:10px 0;
padding:14px 8px;
width: 19em;
}

#searchform .searchButton{
margin-left: .8em;
}

header nav ul li a:hover {
background:#5BA4D7 none repeat scroll 0 0;
color:#FFFFFF;
text-decoration:none;
}

div#dashboard-actions ul li{
background: none; 
display:inline;
float:right;
}


#content-well  ul.configlets li, #content-views li{
background: none;
margin-left: 0;
}

#content-well .contentViews li{
margin: 0;
padding: 0;
background: none;
}

#content-well .contentViews{
margin: 0;
clear:both;
}
#content-well .visualNoMarker {
background: none;
margin-left: 0;
}

#content {
float:none;
width: auto;

}

#content-r {
background:#FFFFFF none repeat scroll 0 0;
float:right;
margin:0 auto;
padding-left:13px;
padding-right: 0px;
width:706px;
}

#content-l {
padding-right: 0px;
}


#content-lr {
width: 528px;
}


#right-col p{
font-size:100%;
}


.documentByLine{
font-size: .8em;
}

.tools, .tools-main{
position:relative;
z-index:1;
padding: 0 0 0px 8px;
clear:both;
width: 75px;
}


#content-l {
width: 745px;
}
#content-alone{
clear: both;
}
#content-lr, #content-l, #content-r, #content-alone{
position: relative;
padding-left: 0px;
padding-right: 0px;

}

#right-col{
padding-left:18px;
background-color:white;
}

#left-col{
padding-right:18px;
background-color:white;
clear: none;
}

#site-logo{

max-height:100px;

}
#right-col ul li {
font-size:95%;
}



/* Kupu image alignment classes */
.image-right{
clear: both;
float: right;
margin: 8px;
}

.image-left{
clear:both;
float:left;
margin: 8px;
}

.image-inline{
float:none;
margin: 8px;
}
dd.image-caption {
   text-align:left;
   padding: 0; margin:0;
}
dl.captioned {
   padding: 10px;
}

.actionMenuContent{
position:relative;
z-index: 5;
}

.photoAlbumEntry{
background-image: url(polaroid-single.png);
float: left;
height: 185px;
margin: 0em;
overflow: hidden;
padding: 0px 6px 0px 9px;
position: relative;
text-align: center;
width: 143px;
}

.photoAlbumEntry a{
display: block;
font-size: 85%;
height: 169px;
margin: 16px auto 0px;
text-decoration: none;
width: 130px;
}

.pullquote{
float:right;
width: 35%;
font-weight: bold;
font-size: 1.4em;
margin: 0px 0px 1em 1em;
font-style: italic;
}


div#content-well ol.list_lower_alpha {
   list-style-type:lower-alpha;
	}
	
div#content-well ol.list_upper_alpha{
   list-style-type:upper-alpha;

	}
	
div#content-well ol.list_lower_roman {
   list-style-type:lower-roman;

	}
	
div#content-well ol.list_upper_roman {
   list-style-type:upper-roman;

	}

div#content-well ol.list_lower_alpha li {
   list-style-type:inherit;
	}
	
div#content-well ol.list_upper_alpha li {
   list-style-type:inherit;
   margin:0 0 0 11px;
	}
	
div#content-well ol.list_lower_roman li {
   list-style-type:inherit;
   margin:0 0 0 13px;
	}
	
div#content-well ol.list_upper_roman li {
   list-style-type:inherit;
   margin:0 0 0 13px;
	}

#content-well ul ul li, #content-well ul ul ul li {
	background: url(img_unc_bullet2.png) no-repeat 0 .5em;
	margin: 8px 5px 0 5px;
	list-style-type: none;
	padding-left: 12px;
	}

#social-list-container {
width: auto;
margin: 0 auto;
}
#social-list-container p.copyright {
float:none;
display:inline;
}
ul#social-list{
float:none;
display:inline;
}
ul#social-list li{
float:none;
}
ul#social-list li a{
display:inline;
padding:3px 9px;
}
ul#social-list li a span{
left: auto;
font-size: 0;
}

#tools{
clear:both;
}

.photoAlbumEntry{
clear:right;
}

.contentActions ul, .contentActions li {
line-height: 1.5em;
}

dl.portalMessage {
background-color: #FFFFE3;
border: 1px solid #996;
font-size: 85%;
}

dl.portalMessage dt {
background-color: #996;
color: white;
float: left;
font-weight: bold;
line-height: 1.25em;
margin: 0px 0.5em 0px 0px;
padding: 0.5em 0.75em;
}

dl.portalMessage dd{
line-height: 1.25em;
margin: 0px;
padding: 0.5em;
}


#dashboard-portlets1, #dashboard-portlets2, #dashboard-portlets3{
float: left;
padding: 0.7em 1.3em 0px 0px;
width: 16em;
}

#dashboard-portlets4{
float: left;
padding-top: 0.7em;
width: 16em;
}

.ploneSkin table.mceToolbar{
float:none !important;
}

.discreet{
font-size: 85%;
font-weight: normal;
}

div#content-well td ul{
padding: 0px;
}

form#document-base-edit .ArchetypesRichWidget textarea{
height:35em;
width:auto;
}

.comment{
min-width: 150px;
}

.toc{
float: right;
font-size: 90%;
margin: 0px 0px 0.5em 0.5em;
width: 30%;
position:relative;
z-index: 3;
background: white;
padding: 0 3px;
}

dl#document-toc dd ol li {
margin: 0;
}

dl#document-toc dd ol li a{
padding: 5px 8px;
}

div#utility_bar {
background: #333 url(utility_bar_bg_gray.jpg) repeat-x 0px 0px;
}

#social-list li#flickr a {
	background: url(icons_sprite.png) no-repeat -2px -112px;
	}

#social-list li#flickr a:hover {
	background: url(icons_sprite.png) no-repeat -20px -112px; 
	}	


.mceIframeContainer iframe{
height:300px;
}

/* SCRAWL */
div.contenttype-blog-entry{
border-bottom: 1px solid #D8D8D8;
margin-bottom:20px;

}


div.contenttype-blog-entry a img{
float: left;
margin: 0 8px 4px 0;
}


div.contenttype-blog-entry h2.tileHeadline{
background: none;
}


div.contenttype-blog-entry h2.tileHeadline a{
color:#56A0D3;
font-size: 2em;
text-shadow: none;
}

.newsImageContainer {
float:right;
margin:0 0 0.5em 1em;
width:202px;
}

.newsContent ul, .newsContent li {
display:block;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}


blockquote {
color: #76797C;
}

ul.configlets li a:hover {
background-color: White;
}








/*carousel stuff*/

#carousel-2col{
background: none;
float:right;
width: 705px;
overflow: hidden;
height: 304px;
padding: 0 0 10px;
border-bottom: 1px solid #D9D9D9;
margin: 0px auto 8px;
position:relative;
}

#carousel-2col .carousel-text{

padding: 0px;
background: none;
width: auto;
position:relative;

}

#carousel-2col .carousel-image{
float:left;
border: 1px solid #56A0D3;
height: 300px;
margin:0px 8px 8px 8px;
max-width: 67%;

}

#carousel-2col .carousel-image img{
height: 100%;
width: auto;
max-width: 395px;
}


#carousel-2col .carousel-pager {
background: white;
}
#carousel-2col .carousel-title {
color: #56A0D3;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 197%;
font-weight: normal;
line-height: 1.2em;
}
#carousel-2col .carousel-description{
color: #6B6B6B;
padding-top: 10px;
}
/*
#carousel-2col .carousel-text 
{
position: static;
background: none;
width: auto;
}
#carousel-2col{
width: 705px;
float: right;
}
#carousel-2col .carousel-image {
float: left;
}
*/
#carousel-3col{
position: relative;
float:right;
width: 924px;
overflow: hidden;
height: 236px;
padding: 0 0 10px;
border-bottom: 1px solid #D9D9D9;
margin: 0px auto 8px;
background: rgb(18, 18, 18) url(carousel_bg.png) no-repeat 0% 0%;
}

#carousel-3col .carousel-text{
position: static;
padding: 12px;
background: none;
width: auto;
color: #DEDEDE;
}

#carousel-3col .carousel-image{
float:left;
border: 1px solid #666;
height: 222px;
background-color: black;
margin: 8px;
padding: 2px;

}


#carousel-3col .carousel-title {
color: #69C;
font-size: 1.5em;
line-height: 1.55;
padding: 4px 0px 8px;
}

#carousel-3col .carousel-image{
max-width: 67%;
}

.carousel-image img{
height: 100%;
width: auto;
max-width: 605px;
}

.carousel-pager{
margin: 0;
position: relative;
float:right;
padding: 0px;
}

.jcarousel-container {
bottom: 70px;
position: relative;
}

#carousel-2col #pager-numbers, #carousel-2col #pager-titles {
background: white;
}

#carousel-3col #pager-numbers, #carousel-3col #pager-titles {
background: black;
padding: 6px 4px;
}


#pager-numbers, #pager-titles{
bottom: 29px;
position: relative;
padding: 6px 2px;
}

#pager-numbers a, #pager-titles a{
background: #DDD url(btn_background.gif) repeat-x;
border: 1px solid #666;
color: #666;
padding: 3px 5px;
}
#pager-numbers .carousel-pager-item-active, #pager-titles .carousel-pager-item-active{
background:#56A0D3;
color: white;
}


.pager-prevnext{
bottom: 22px;
right: 8px;
}

.pager-prevnext a{
background: #DDD url(btn_background.gif) repeat-x;
border: 1px solid #666;
color: #666;
}

.carousel-pager-button-next{
width: 30px;
}

.carousel-pager-item-classic {
width: 100px;

}


.carousel-structural-link {
text-transform: capitalize;
font-weight: bold;
}


.carousel-pager ul, .carousel-pager ul li{
display: inline;
}




.carousel-pager-item, .carousel-thumbnail{
padding: 0em;
}

.carousel-pager ul, .carousel-pager ul li {
display: block;
}

.carousel-thumbnail {cursor:pointer; opacity:0.8;filter:alpha(opacity=70);}
.carousel-thumbnail:hover {opacity:1 !important;filter:alpha(opacity=100);}
.carousel-thumbnail.carousel-pager-item-active {opacity:1 !important;filter:alpha(opacity=100); cursor:default;}



/*important things for jcarousel layout*/

.carousel-thumbnail img {
height: 60px;
width: 78px;
border: 1px solid #56A0D3;
}

.jcarousel-clip {
   z-index: 2;
   padding: 0;
   margin: 0;
   overflow: hidden;
   position: relative;
    }

.jcarousel-container-horizontal {
   width: 260px;
   padding: 0px 15px;
    }

#carousel-3col .jcarousel-container-horizontal {
right: 7px;
}
    
.jcarousel-clip-horizontal {
   width: 260px;
   height: 66px;
   margin: 0px;
   padding: 0px;
    }

    
.jcarousel-item-horizontal {
    margin-right: 10px;
    }
    
.jcarousel-item-placeholder {
    background: #fff;
    color: #000;
    }

.jcarousel-next-horizontal {
    position: absolute;
    top: 13px;
    right: 0px;
    width: 11px;
    height: 32px;
    cursor: pointer;
    background: url('carousel_arrow_right.png') no-repeat 0 0;
    }
    
.jcarousel-next-disabled-horizontal{
    cursor: default;
    display: none !important;
    }
    
.jcarousel-prev-horizontal {
    position: absolute;
    top: 13px;
    left: 0px;
    width: 11px;
    height: 32px;
    cursor: pointer;
    background: url('carousel_arrow_left.png') no-repeat 0 0;
    }
    
.jcarousel-prev-disabled-horizontal {
    cursor: default;
    display: none !important;
    }

.personEntry .vcard #photo-wrapper a img {  
    width: 120px;
}

div.ppl-region-content .hcardInfo .title {
 width: 300px;
}

/*homepage_view*/



#homepage .newsitem{
border-bottom: 1px solid #CBCBCB;
border-top: 1px solid white;
min-height: 130px;
padding: 10px 0px;
}

#homepage .newsitem img{
border: 1px solid #56A0D3;
display: block;
float: left;
margin: 0px 15px 8px 0px;
height: 112px;
width: 170px;
}

#homepage .newsitem h3 {
margin-top:0;
}

#homepage .newsitem h3 {
cursor: pointer;
}

#homepage .newsitem .newscolumn{
border: none;
vertical-align: top;
}

#homepage .leaditem img {
border:1px solid #56A0D3;
margin-left: 0px;
float: left;
}

#homepage .leaditem h3{
color: #56A0D3;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 197%;
font-weight: normal;
line-height: 1.2em;
}
/*homepage_view end*/


